<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link
      rel="shortcut icon"
      href="../assets/img/favicon.ico"
      type="image/x-icon"
    />
    <title>My Cart</title>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <a class="logo" href="../index.html">Forget</a>
        <ul>
          <li class="navbar-item">
            <a href="../index.html">Home</a>
            <div id="underline" class="underline"></div>
          </li>
          <li class="navbar-item">
            <a href="men.html">Men</a>
            <div id="underline" class="underline"></div>
          </li>
          <li class="navbar-item">
            <a href="women.html">Women</a>
            <div id="underline" class="underline"></div>
          </li>
          <li class="navbar-item">
            <a href="ourapp.html">Our App</a>
            <div id="underline" class="underline"></div>
          </li>
          <li class="navbar-item">
            <a href="shop.html">Shop</a>
            <div id="underline" class="underline"></div>
          </li>
          <li class="navbar-item">
            <a href="cart.html">Cart</a>
            <div id="underline" class="underline active"></div>
          </li>
        </ul>
      </nav>
    </header>
    <main class="container text-white">
      <div class="cart-container noSelect">
        <section class="list-items">
          <div class="cart-title">Items</div>
          <div class="item">
            <div class="item-img">
              <img src="../assets/img/shop/products/product (4).jpg" alt="" />
            </div>
            <div class="item-body">
              <h3 class="item-name">Jacket</h3>
              <p class="item-price">$ 120</p>
            </div>
            <p class="item-quantity" id="cart-cuantity">1</p>
            <div class="item-actions">
              <button class="add-item">
                <i class="bi bi-cart-plus-fill"></i>
              </button>
              <button class="remove-item">
                <i class="bi bi-cart-dash-fill"></i>
              </button>
            </div>
          </div>
          <div class="item">
            <div class="item-img">
              <img src="../assets/img/shop/products/product (23).jpg" alt="" />
            </div>
            <div class="item-body">
              <h3 class="item-name">Jordan 4</h3>
              <p class="item-price">$ 150</p>
            </div>
            <p class="item-quantity" id="cart-cuantity">1</p>
            <div class="item-actions">
              <button class="add-item">
                <i class="bi bi-cart-plus-fill"></i>
              </button>
              <button class="remove-item">
                <i class="bi bi-cart-dash-fill"></i>
              </button>
            </div>
          </div>
          <div class="item">
            <div class="item-img">
              <img src="../assets/img/shop/products/product (24).jpg" alt="" />
            </div>
            <div class="item-body">
              <h3 class="item-name">Drip pants</h3>
              <p class="item-price">$ 80</p>
            </div>
            <p class="item-quantity" id="cart-cuantity">1</p>
            <div class="item-actions">
              <button class="add-item">
                <i class="bi bi-cart-plus-fill"></i>
              </button>
              <button class="remove-item">
                <i class="bi bi-cart-dash-fill"></i>
              </button>
            </div>
          </div>
          <div class="item">
            <div class="item-img">
              <img src="../assets/img/shop/products/product (15).jpg" alt="" />
            </div>
            <div class="item-body">
              <h3 class="item-name">earrings</h3>
              <p class="item-price">$ 10</p>
            </div>
            <p class="item-quantity" id="cart-cuantity">1</p>
            <div class="item-actions">
              <button class="add-item">
                <i class="bi bi-cart-plus-fill"></i>
              </button>
              <button class="remove-item">
                <i class="bi bi-cart-dash-fill"></i>
              </button>
            </div>
          </div>
          <div class="item">
            <div class="item-img">
              <img src="../assets/img/shop/products/product (14).jpg" alt="" />
            </div>
            <div class="item-body">
              <h3 class="item-name">Bag</h3>
              <p class="item-price">$ 200</p>
            </div>
            <p class="item-quantity" id="cart-cuantity">1</p>
            <div class="item-actions">
              <button class="add-item">
                <i class="bi bi-cart-plus-fill"></i>
              </button>
              <button class="remove-item">
                <i class="bi bi-cart-dash-fill"></i>
              </button>
            </div>
          </div>
          <div class="item">
            <div class="item-img">
              <img src="../assets/img/shop/products/product (17).jpg" alt="" />
            </div>
            <div class="item-body">
              <h3 class="item-name">Boots</h3>
              <p class="item-price">$ 150</p>
            </div>
            <p class="item-quantity" id="cart-cuantity">1</p>
            <div class="item-actions">
              <button class="add-item">
                <i class="bi bi-cart-plus-fill"></i>
              </button>
              <button class="remove-item">
                <i class="bi bi-cart-dash-fill"></i>
              </button>
            </div>
          </div>
          <div class="item" style="border: none">
            <div class="item-img">
              <img src="../assets/img/shop/products/product (9).jpg" alt="" />
            </div>
            <div class="item-body">
              <h3 class="item-name">Jacket</h3>
              <p class="item-price">$ 400</p>
            </div>
            <p class="item-quantity" id="cart-cuantity">1</p>
            <div class="item-actions">
              <button class="add-item">
                <i class="bi bi-cart-plus-fill"></i>
              </button>
              <button class="remove-item">
                <i class="bi bi-cart-dash-fill"></i>
              </button>
            </div>
          </div>
        </section>
        <section class="payment-container">
          <div class="payment noSelect">
            <h2 class="payment-title">Sub Total</h2>
          </div>
          <div class="payment-box">
            <div class="payment-item">
              <h3 class="payment-item-name">Sub Total</h3>
              <p class="payment-item-price">-- $ 1000</p>
            </div>
            <div class="payment-item">
              <h3 class="payment-item-name">Shipping</h3>
              <p class="payment-item-price">-- $ 0</p>
            </div>
            <div class="payment-item">
              <h3 class="payment-item-name">Tax</h3>
              <p class="payment-item-price">-- $ 20</p>
            </div>
            <div class="payment-item">
              <h3 class="payment-item-name">Total</h3>
              <p class="payment-item-price">-- $ 1020</p>
            </div>
            <div class="payment-item">
              <a href="checkout.html" class="payment-btn">Checkout</a>
            </div>
          </div>
          <div class="list-items payment">
            <a href="nikeCourtDetails.html" class="item">
              <div class="item-img">
                <img src="../assets/img/shop/index/product-1.png" alt="" />
              </div>
              <div class="item-body">
                <h3 class="item-name">Nike Court</h3>
                <div class="stars">
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-half"></i>
                </div>
                <p class="item-price">$ 70</p>
              </div>
              <div class="item-actions">
                <button class="remove-item">
                  <i class="bi bi-cart-plus-fill"></i>
                  add to the cart
                </button>
              </div>
            </a>
            <a href="nikeDunkDetails.html" class="item">
              <div class="item-img">
                <img src="../assets/img/shop/index/product-2.png" alt="" />
              </div>
              <div class="item-body">
                <h3 class="item-name">Nike Dunk</h3>
                <div class="stars">
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-half"></i>
                </div>
                <p class="item-price">$ 125</p>
              </div>
              <div class="item-actions">
                <button class="remove-item">
                  <i class="bi bi-cart-plus-fill"></i>
                  add to the cart
                </button>
              </div>
            </a>
            <a href="DiorObliqueDetails.html" class="item">
              <div class="item-img">
                <img src="../assets/img/shop/index/product-5.png" alt="" />
              </div>
              <div class="item-body">
                <h3 class="item-name">Down Jacket</h3>
                <div class="stars">
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                </div>
                <p class="item-price">$ 1700</p>
              </div>
              <div class="item-actions">
                <button class="remove-item">
                  <i class="bi bi-cart-plus-fill"></i>
                  add to the cart
                </button>
              </div>
            </a>
            <a href="BunnyDetails.html" class="item" style="border: none">
              <div class="item-img">
                <img src="../assets/img/shop/index/product-9.png" alt="" />
              </div>
              <div class="item-body">
                <h3 class="item-name">Adidas Forum Low X Bad Bunny</h3>
                <div class="stars">
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                </div>
                <p class="item-price">$ 750</p>
              </div>
              <div class="item-actions">
                <button class="product-btn">
                  <i class="bi bi-cart-plus-fill"> add to the cart </i>
                </button>
              </div>
            </a>
          </div>
        </section>
      </div>
    </main>
    <footer>
      <div>
        <ul>
          <li>GiftCard</li>
          <li>Promotions</li>
          <li>Become a member</li>
          <li>Send comment</li>
        </ul>
      </div>
      <div>
        <ul>
          <li>Get help</li>
          <li>Order status</li>
          <li>Shipping and delivery</li>
          <li>Returns</li>
        </ul>
      </div>
      <div>
        <ul>
          <li>near Forget</li>
          <li>News</li>
          <li>Races</li>
          <li>Investors</li>
        </ul>
      </div>
      <div class="social-section">
        <ul>
          <li><i class="bi bi-facebook"></i></li>
          <li><i class="bi bi-whatsapp"></i></li>
          <li><i class="bi bi-pinterest"></i></li>
          <li><i class="bi bi-telegram"></i></li>
        </ul>
        <ul class="term-use">
          <li>POLICY AND PRIVACY</li>
          <li>CONDITIONS TERMS AND USE</li>
          <li>Guide</li>
        </ul>
      </div>
    </footer>
  </body>
  <script
    src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
    crossorigin="anonymous"
  ></script>
  <script src="../assets/js/index.js"></script>
</html>
