<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link
      rel="shortcut icon"
      href="../assets/img/favicon.ico"
      type="image/x-icon"
    />
    <title>Men</title>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <a class="logo" href="../index.html">Forget</a>
        <ul>
          <li class="navbar-item">
            <a href="../index.html">Home</a>
            <div id="underline" class="underline"></div>
          </li>
          <li class="navbar-item">
            <a href="men.html">Men</a>
            <div id="underline" class="underline active"></div>
          </li>
          <li class="navbar-item">
            <a href="women.html">Women</a>
            <div id="underline" class="underline"></div>
          </li>
          <li class="navbar-item">
            <a href="ourapp.html">Our App</a>
            <div id="underline" class="underline"></div>
          </li>
          <li class="navbar-item">
            <a href="shop.html">Shop</a>
            <div id="underline" class="underline"></div>
          </li>
          <li class="navbar-item">
            <a href="cart.html">Cart</a>
            <span class="cart-notification"></span>
            <div id="underline" class="underline"></div>
          </li>
        </ul>
      </nav>
    </header>
    <main class="container text-white">
      <input hidden id="gender" value="men" />
      <section class="carousel">
        <div class="bg-text noSelect">
          <h1>FORGET</h1>
        </div>
        <span id="left" class="btn-left noSelect">
          <i class="bi bi-chevron-compact-left"></i>
        </span>
        <div class="img-container">
          <img src="../assets/img/shop/product-2.png" alt="man" id="img" />
          <img src="../assets/img/shop/product-4.png" alt="man" id="img-2" />
          <img src="../assets/img/shop/product-5.png" alt="man" id="img-3" />
        </div>
        <span id="right" class="btn-right noSelect">
          <i class="bi bi-chevron-compact-right"></i>
        </span>
      </section>
      <div class="products-header">
        <h2>Mens Products</h2>
        <div class="cart-count">
          <i class="bi bi-cart4"></i>
          <span id="cart-item">0</span>
        </div>
      </div>
      <section class="product">
        <div class="product-card noSelect">
          <div class="product-card-container">
            <div class="product-card-img rounded">
              <img
                src="../assets/img/shop/products/product (1).jpg"
                alt="product"
              />
            </div>
            <div class="product-card-body">
              <div class="product-card-header">
                <h1>Shirt</h1>
              </div>
              <p>white shirt</p>
              <p class="product-card-price">$ 50</p>
              <div class="product-btn">
                <button class="add-to-cart">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
        <div class="product-card noSelect">
          <div class="product-card-container">
            <div class="product-card-img rounded">
              <img
                src="../assets/img/shop/products/product (12).jpg"
                alt="product"
              />
            </div>
            <div class="product-card-body">
              <div class="product-card-header">
                <h1>Pants</h1>
              </div>
              <p>Black pants</p>
              <p class="product-card-price">$ 50</p>
              <div class="product-btn">
                <button class="add-to-cart">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
        <div class="product-card noSelect">
          <div class="product-card-container">
            <div class="product-card-img rounded">
              <img
                src="../assets/img/shop/products/product (4).jpg"
                alt="product"
              />
            </div>
            <div class="product-card-body">
              <div class="product-card-header">
                <h1>Jacket</h1>
              </div>
              <p>leather jacket</p>
              <p class="product-card-price">$ 120</p>
              <div class="product-btn">
                <button class="add-to-cart">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
        <div class="product-card noSelect">
          <div class="product-card-container">
            <div class="product-card-img rounded">
              <img
                src="../assets/img/shop/products/product (18).jpg"
                alt="product"
              />
            </div>
            <div class="product-card-body">
              <div class="product-card-header">
                <h1>Black Jacket</h1>
              </div>
              <p>dark rain jacket</p>
              <p class="product-card-price">$ 10</p>
              <div class="product-btn">
                <button class="add-to-cart">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
        <div class="product-card noSelect">
          <div class="product-card-container">
            <div class="product-card-img rounded">
              <img
                src="../assets/img/shop/products/product (23).jpg"
                alt="product"
              />
            </div>
            <div class="product-card-body">
              <div class="product-card-header">
                <h1>Jordan IV</h1>
              </div>
              <p>Jordan IV UNC</p>
              <p class="product-card-price">$ 150</p>
              <div class="product-btn">
                <button class="add-to-cart">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
        <div class="product-card noSelect">
          <div class="product-card-container">
            <div class="product-card-img rounded">
              <img
                src="../assets/img/shop/products/product (24).jpg"
                alt="product"
              />
            </div>
            <div class="product-card-body">
              <div class="product-card-header">
                <h1>Drip pants</h1>
              </div>
              <p>Drip pants yellow</p>
              <p class="product-card-price">$ 80</p>
              <div class="product-btn">
                <button class="add-to-cart">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
        <div class="product-card noSelect">
          <div class="product-card-container">
            <div class="product-card-img rounded">
              <img src="../assets/img/shop/index/product-1.png" alt="product" />
            </div>
            <div class="product-card-body">
              <div class="product-card-header">
                <h1>Nike Court</h1>
              </div>
              <p>White sport shoes</p>
              <p class="product-card-price">$ 70</p>
              <div class="product-btn">
                <button class="add-to-cart">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
        <div class="product-card noSelect">
          <div class="product-card-container">
            <div class="product-card-img rounded">
              <img src="../assets/img/shop/index/product-2.png" alt="product" />
            </div>
            <div class="product-card-body">
              <div class="product-card-header">
                <h1>Nike Dunk</h1>
              </div>
              <p>Get saturday</p>
              <p class="product-card-price">$ 125</p>
              <div class="product-btn">
                <button class="add-to-cart">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
        <div class="product-card noSelect">
          <div class="product-card-container">
            <div class="product-card-img rounded">
              <img src="../assets/img/shop/index/product-3.png" alt="product" />
            </div>
            <div class="product-card-body">
              <div class="product-card-header">
                <h1>VaporMax</h1>
              </div>
              <p>Green sport shoes</p>
              <p class="product-card-price">$ 210</p>
              <div class="product-btn">
                <button class="add-to-cart">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <div>
        <ul>
          <li>GiftCard</li>
          <li>Promotions</li>
          <li>Become a member</li>
          <li>Send comment</li>
        </ul>
      </div>
      <div>
        <ul>
          <li>Get help</li>
          <li>Order status</li>
          <li>Shipping and delivery</li>
          <li>Returns</li>
        </ul>
      </div>
      <div>
        <ul>
          <li>near Forget</li>
          <li>News</li>
          <li>Races</li>
          <li>Investors</li>
        </ul>
      </div>
      <div class="social-section">
        <ul>
          <li><i class="bi bi-facebook"></i></li>
          <li><i class="bi bi-whatsapp"></i></li>
          <li><i class="bi bi-pinterest"></i></li>
          <li><i class="bi bi-telegram"></i></li>
        </ul>
        <ul class="term-use">
          <li>POLICY AND PRIVACY</li>
          <li>CONDITIONS TERMS AND USE</li>
          <li>Guide</li>
        </ul>
      </div>
    </footer>
  </body>
  <script
    src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
    crossorigin="anonymous"
  ></script>
  <script src="../assets/js/index.js"></script>
</html>
