<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link
      rel="shortcut icon"
      href="../assets/img/favicon.ico"
      type="image/x-icon"
    />
    <title>Nike Court</title>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <a class="logo" href="../index.html">Forget</a>
        <ul>
          <li class="navbar-item">
            <a href="../index.html">Home</a>
            <div id="underline" class="underline"></div>
          </li>
          <li class="navbar-item">
            <a href="men.html">Men</a>
            <div id="underline" class="underline"></div>
          </li>
          <li class="navbar-item">
            <a href="women.html">Women</a>
            <div id="underline" class="underline"></div>
          </li>
          <li class="navbar-item">
            <a href="ourapp.html">Our App</a>
            <div id="underline" class="underline"></div>
          </li>
          <li class="navbar-item">
            <a href="shop.html">Shop</a>
            <div id="underline" class="underline"></div>
          </li>
          <li class="navbar-item">
            <a href="cart.html">Cart</a>
            <div id="underline" class="underline active"></div>
          </li>
        </ul>
      </nav>
    </header>
    <main class="container text-white">
      <section class="details-container">
        <div class="item-details">
          <div class="item-img">
            <img src="../assets/img/shop/index/product-1.png" alt="nikeCourt" />
          </div>
          <div class="details-info">
            <h1>NikeCourt Air Zoom Zero</h1>
            <p>
              The NikeCourt Air Zoom Zero is the lightest NikeCourt shoe ever,
              designed for the fastest players on the court. It features a
              breathable, lightweight upper and a Zoom Air unit in the heel for
              responsive cushioning.
            </p>
            <div class="item-price">
              <h2>$ 70</h2>
              <div class="item-size">
                <h3>Size</h3>
                <div class="item-size-options">
                  <div class="item-details-size-option">6</div>
                  <div class="item-details-size-option">7</div>
                  <div class="item-details-size-option">8</div>
                  <div class="item-details-size-option">9</div>
                  <div class="item-details-size-option">10</div>
                  <div class="item-details-size-option">11</div>
                  <div class="item-details-size-option">12</div>
                </div>
              </div>
            </div>
            <div class="item-details-btn">
              <a class="text-white" href="cart.html">Add to the cart</a>
            </div>
            <div class="models">
              <h3>Models</h3>
              <div class="models-options">
                <div class="models-option">
                  <img
                    src="../assets/img/shop/index/product-1-2.png"
                    alt="nikeCourt"
                  />
                </div>
                <div class="models-option">
                  <img
                    src="../assets/img/shop/index/product-1-3.png"
                    alt="nikeCourt"
                  />
                </div>
                <div class="models-option">
                  <img
                    src="../assets/img/shop/index/product-1-4.png"
                    alt="nikeCourt"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="products-header">
          <h2>Merchandise</h2>
          <div class="cart-count">
            <i class="bi bi-cart4"></i>
            <span id="cart-item">0</span>
          </div>
        </div>
        <div class="product">
          <div class="product-card noSelect">
            <div class="product-card-container">
              <div class="product-card-img rounded">
                <img
                  src="../assets/img/shop/products/product (1).jpg"
                  alt="product"
                />
              </div>
              <div class="product-card-body">
                <div class="product-card-header">
                  <h1>Shirt</h1>
                </div>
                <p>white shirt</p>
                <p class="product-card-price">$ 50</p>
                <div class="product-btn">
                  <button class="add-to-cart">Add to Cart</button>
                </div>
              </div>
            </div>
          </div>
          <div class="product-card noSelect">
            <div class="product-card-container">
              <div class="product-card-img rounded">
                <img
                  src="../assets/img/shop/products/product (12).jpg"
                  alt="product"
                />
              </div>
              <div class="product-card-body">
                <div class="product-card-header">
                  <h1>Pants</h1>
                </div>
                <p>Black pants</p>
                <p class="product-card-price">$ 50</p>
                <div class="product-btn">
                  <button class="add-to-cart">Add to Cart</button>
                </div>
              </div>
            </div>
          </div>
          <div class="product-card noSelect">
            <div class="product-card-container">
              <div class="product-card-img rounded">
                <img
                  src="../assets/img/shop/products/product (4).jpg"
                  alt="product"
                />
              </div>
              <div class="product-card-body">
                <div class="product-card-header">
                  <h1>Jacket</h1>
                </div>
                <p>leather jacket</p>
                <p class="product-card-price">$ 120</p>
                <div class="product-btn">
                  <button class="add-to-cart">Add to Cart</button>
                </div>
              </div>
            </div>
          </div>
          <div class="product-card noSelect">
            <div class="product-card-container">
              <div class="product-card-img rounded">
                <img
                  src="../assets/img/shop/products/product (18).jpg"
                  alt="product"
                />
              </div>
              <div class="product-card-body">
                <div class="product-card-header">
                  <h1>Black Jacket</h1>
                </div>
                <p>dark rain jacket</p>
                <p class="product-card-price">$ 10</p>
                <div class="product-btn">
                  <button class="add-to-cart">Add to Cart</button>
                </div>
              </div>
            </div>
          </div>
          <div class="product-card noSelect">
            <div class="product-card-container">
              <div class="product-card-img rounded">
                <img
                  src="../assets/img/shop/products/product (23).jpg"
                  alt="product"
                />
              </div>
              <div class="product-card-body">
                <div class="product-card-header">
                  <h1>Jordan IV</h1>
                </div>
                <p>Jordan IV UNC</p>
                <p class="product-card-price">$ 150</p>
                <div class="product-btn">
                  <button class="add-to-cart">Add to Cart</button>
                </div>
              </div>
            </div>
          </div>
          <div class="product-card noSelect">
            <div class="product-card-container">
              <div class="product-card-img rounded">
                <img
                  src="../assets/img/shop/products/product (24).jpg"
                  alt="product"
                />
              </div>
              <div class="product-card-body">
                <div class="product-card-header">
                  <h1>Drip pants</h1>
                </div>
                <p>Drip pants yellow</p>
                <p class="product-card-price">$ 80</p>
                <div class="product-btn">
                  <button class="add-to-cart">Add to Cart</button>
                </div>
              </div>
            </div>
          </div>
          <div class="product-card noSelect">
            <div class="product-card-container">
              <div class="product-card-img rounded">
                <img
                  src="../assets/img/shop/products/product (15).jpg"
                  alt="product"
                />
              </div>
              <div class="product-card-body">
                <div class="product-card-header">
                  <h1>earrings</h1>
                </div>
                <p>blue earrings</p>
                <p class="product-card-price">$ 10</p>
                <div class="product-btn">
                  <button class="add-to-cart">Add to Cart</button>
                </div>
              </div>
            </div>
          </div>
          <div class="product-card noSelect">
            <div class="product-card-container">
              <div class="product-card-img rounded">
                <img
                  src="../assets/img/shop/products/product (14).jpg"
                  alt="product"
                />
              </div>
              <div class="product-card-body">
                <div class="product-card-header">
                  <h1>Bag</h1>
                </div>
                <p>Black bag</p>
                <p class="product-card-price">$ 200</p>
                <div class="product-btn">
                  <button class="add-to-cart">Add to Cart</button>
                </div>
              </div>
            </div>
          </div>
          <div class="product-card noSelect">
            <div class="product-card-container">
              <div class="product-card-img rounded">
                <img
                  src="../assets/img/shop/products/product (17).jpg"
                  alt="product"
                />
              </div>
              <div class="product-card-body">
                <div class="product-card-header">
                  <h1>Boots</h1>
                </div>
                <p>Hight boots</p>
                <p class="product-card-price">$ 150</p>
                <div class="product-btn">
                  <button class="add-to-cart">Add to Cart</button>
                </div>
              </div>
            </div>
          </div>
          <div class="product-card noSelect">
            <div class="product-card-container">
              <div class="product-card-img rounded">
                <img
                  src="../assets/img/shop/products/product (8).jpg"
                  alt="product"
                />
              </div>
              <div class="product-card-body">
                <div class="product-card-header">
                  <h1>blouses</h1>
                </div>
                <p>Different Blouses</p>
                <p class="product-card-price">$ 20</p>
                <div class="product-btn">
                  <button class="add-to-cart">Add to Cart</button>
                </div>
              </div>
            </div>
          </div>
          <div class="product-card noSelect">
            <div class="product-card-container">
              <div class="product-card-img rounded">
                <img
                  src="../assets/img/shop/products/product (9).jpg"
                  alt="product"
                />
              </div>
              <div class="product-card-body">
                <div class="product-card-header">
                  <h1>Jacket</h1>
                </div>
                <p>Gala Jacket</p>
                <p class="product-card-price">$ 400</p>
                <div class="product-btn">
                  <button class="add-to-cart">Add to Cart</button>
                </div>
              </div>
            </div>
          </div>
          <div class="product-card noSelect">
            <div class="product-card-container">
              <div class="product-card-img rounded">
                <img
                  src="../assets/img/shop/products/product (11).jpg"
                  alt="product"
                />
              </div>
              <div class="product-card-body">
                <div class="product-card-header">
                  <h1>Dress</h1>
                </div>
                <p>Summer dress</p>
                <p class="product-card-price">$ 20</p>
                <div class="product-btn">
                  <button class="add-to-cart">Add to Cart</button>
                </div>
              </div>
            </div>
          </div>
          <div class="product-card noSelect">
            <div class="product-card-container">
              <div class="product-card-img rounded">
                <img
                  src="../assets/img/shop/index/product-4.png"
                  alt="product"
                />
              </div>
              <div class="product-card-body">
                <div class="product-card-header">
                  <h1>Nike Blazer</h1>
                </div>
                <p>White shoes</p>
                <p class="product-card-price">$ 105</p>
                <div class="product-btn">
                  <button class="add-to-cart">Add to Cart</button>
                </div>
              </div>
            </div>
          </div>
          <div class="product-card noSelect">
            <div class="product-card-container">
              <div class="product-card-img rounded">
                <img
                  src="../assets/img/shop/index/product-5.png"
                  alt="product"
                />
              </div>
              <div class="product-card-body">
                <div class="product-card-header">
                  <h1>Down Jacket</h1>
                </div>
                <p>Dior Oblique</p>
                <p class="product-card-price">$ 3100</p>
                <div class="product-btn">
                  <button class="add-to-cart">Add to Cart</button>
                </div>
              </div>
            </div>
          </div>
          <div class="product-card noSelect">
            <div class="product-card-container">
              <div class="product-card-img rounded">
                <img
                  src="../assets/img/shop/index/product-7.png"
                  alt="product"
                />
              </div>
              <div class="product-card-body">
                <div class="product-card-header">
                  <h1>Sweater</h1>
                </div>
                <p>Dior Oblique</p>
                <p class="product-card-price">$ 1700</p>
                <div class="product-btn">
                  <button class="add-to-cart">Add to Cart</button>
                </div>
              </div>
            </div>
          </div>
          <div class="product-card noSelect">
            <div class="product-card-container">
              <div class="product-card-img rounded">
                <img
                  src="../assets/img/shop/index/product-1.png"
                  alt="product"
                />
              </div>
              <div class="product-card-body">
                <div class="product-card-header">
                  <h1>Nike Court </h1>
                </div>
                <p>White sport shoes</p>
                <p class="product-card-price">$ 70</p>
                <div class="product-btn">
                  <button class="add-to-cart">Add to Cart</button>
                </div>
              </div>
            </div>
          </div>
          <div class="product-card noSelect">
            <div class="product-card-container">
              <div class="product-card-img rounded">
                <img
                  src="../assets/img/shop/index/product-2.png"
                  alt="product"
                />
              </div>
              <div class="product-card-body">
                <div class="product-card-header">
                  <h1>Nike Dunk</h1>
                </div>
                <p>Get saturday</p>
                <p class="product-card-price">$ 125</p>
                <div class="product-btn">
                  <button class="add-to-cart">Add to Cart</button>
                </div>
              </div>
            </div>
          </div>
          <div class="product-card noSelect">
            <div class="product-card-container">
              <div class="product-card-img rounded">
                <img
                  src="../assets/img/shop/index/product-3.png"
                  alt="product"
                />
              </div>
              <div class="product-card-body">
                <div class="product-card-header">
                  <h1>VaporMax</h1>
                </div>
                <p>Green sport shoes</p>
                <p class="product-card-price">$ 210</p>
                <div class="product-btn">
                  <button class="add-to-cart">Add to Cart</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <div>
        <ul>
          <li>GiftCard</li>
          <li>Promotions</li>
          <li>Become a member</li>
          <li>Send comment</li>
        </ul>
      </div>
      <div>
        <ul>
          <li>Get help</li>
          <li>Order status</li>
          <li>Shipping and delivery</li>
          <li>Returns</li>
        </ul>
      </div>
      <div>
        <ul>
          <li>near Forget</li>
          <li>News</li>
          <li>Races</li>
          <li>Investors</li>
        </ul>
      </div>
      <div class="social-section">
        <ul>
          <li><i class="bi bi-facebook"></i></li>
          <li><i class="bi bi-whatsapp"></i></li>
          <li><i class="bi bi-pinterest"></i></li>
          <li><i class="bi bi-telegram"></i></li>
        </ul>
        <ul class="term-use">
          <li>POLICY AND PRIVACY</li>
          <li>CONDITIONS TERMS AND USE</li>
          <li>Guide</li>
        </ul>
      </div>
    </footer>
  </body>
  <script
    src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
    crossorigin="anonymous"
  ></script>
  <script src="../assets/js/index.js"></script>
</html>
