<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link
      rel="shortcut icon"
      href="../assets/img/favicon.ico"
      type="image/x-icon"
    />
    <title>Our App</title>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <a class="logo" href="../index.html">Forget</a>
        <ul>
          <li class="navbar-item">
            <a href="../index.html">Home</a>
            <div id="underline" class="underline"></div>
          </li>
          <li class="navbar-item">
            <a href="men.html">Men</a>
            <div id="underline" class="underline"></div>
          </li>
          <li class="navbar-item">
            <a href="women.html">Women</a>
            <div id="underline" class="underline"></div>
          </li>
          <li class="navbar-item">
            <a href="ourapp.html">Our App</a>
            <div id="underline" class="underline active"></div>
          </li>
          <li class="navbar-item">
            <a href="shop.html">Shop</a>
            <div id="underline" class="underline"></div>
          </li>
          <li class="navbar-item">
            <a href="cart.html">Cart</a>
            <div id="underline" class="underline"></div>
          </li>
        </ul>
      </nav>
    </header>
    <main class="container text-white">
      <div class="our-app">
        <section class="side-text">
          <h2>New Collection</h2>
          <h4>The long wait is over</h4>
          <p>
            Forget is an American company that designs and manufactures
            footwear. sport, clothing and accessories. The company is
            headquartered in Philadelphia,Cherry Hill,United States. In addition
            to sports shoes, Forget also makes other products such as bags,
            t-shirts, watches, glasses and other sports related items.
          </p>
          <p>
            Forget is one of the largest sportswear brands that exist, because
            for a powerful reason it has positioned itself as one of the the
            most famous brands used in the sports industry.
          </p>
          <p class="d-none toRead">
            Adidas is one of the most recognized brands in the market sports, it
            is the favorite by many athletes, that is why we created the app
            more beast of the mercantile market.
          </p>

          <button class="btn" id="read">Read More</button>
        </section>
        <section class="side-img">
          <div class="img-container">
            <img src="../assets/img/appImage.png" alt="app image" />
          </div>
        </section>
      </div>
      <section class="description d-none toRead">
        <div class="description-title">
          <h2>About our app</h2>
          <span>Experience and Innovation leads to success</span>
        </div>
        <p>
          This application has its antecedent in the Gadget launched in 2006:
          Forget + iPod Sports Kid. The tool helped runners to measure distance
          and speed. With these innovative marketing strategies, Forget becomes
          more than just a sporting goods brand Forget's marketing strategy
          positions it as an entity that motivates, trains and empowers to the
          masses. However, innovation as the main marketing strategy lies in the
          product itself. Forget launched the first innovation in its products
          in 1979, introducing pad technology in footwear. With this technology,
          footwear sports shoe has air-filled plastic membranes that provide
          more comfort to the athlete during training. Later, in 1987, Forget
          released Air pro; these contained two bags of compressed air that
          absorbed the impacts during jumps or walks. These bags can be viewed
          through a special window at the bottom of the shoe. forget later
          customized the product in such a way that users could easily select
          their footwear depending on the sport they practiced.
        </p>
      </section>
    </main>
    <footer>
      <div>
        <ul>
          <li>GiftCard</li>
          <li>Promotions</li>
          <li>Become a member</li>
          <li>Send comment</li>
        </ul>
      </div>
      <div>
        <ul>
          <li>Get help</li>
          <li>Order status</li>
          <li>Shipping and delivery</li>
          <li>Returns</li>
        </ul>
      </div>
      <div>
        <ul>
          <li>near Forget</li>
          <li>News</li>
          <li>Races</li>
          <li>Investors</li>
        </ul>
      </div>
      <div class="social-section">
        <ul>
          <li><i class="bi bi-facebook"></i></li>
          <li><i class="bi bi-whatsapp"></i></li>
          <li><i class="bi bi-pinterest"></i></li>
          <li><i class="bi bi-telegram"></i></li>
        </ul>
        <ul class="term-use">
          <li>POLICY AND PRIVACY</li>
          <li>CONDITIONS TERMS AND USE</li>
          <li>Guide</li>
        </ul>
      </div>
    </footer>  </body>
  <script
    src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
    crossorigin="anonymous"
  ></script>
  <script src="../assets/js/index.js"></script>
</html>
