<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link
      rel="shortcut icon"
      href="../assets/img/favicon.ico"
      type="image/x-icon"
    />
    <title>Women</title>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <a class="logo" href="../index.html">Forget</a>
        <ul>
          <li class="navbar-item">
            <a href="../index.html">Home</a>
            <div id="underline" class="underline"></div>
          </li>
          <li class="navbar-item">
            <a href="men.html">Men</a>
            <div id="underline" class="underline"></div>
          </li>
          <li class="navbar-item">
            <a href="women.html">Women</a>
            <div id="underline" class="underline active"></div>
          </li>
          <li class="navbar-item">
            <a href="ourapp.html">Our App</a>
            <div id="underline" class="underline"></div>
          </li>
          <li class="navbar-item">
            <a href="shop.html">Shop</a>
            <div id="underline" class="underline"></div>
          </li>
          <li class="navbar-item">
            <a href="cart.html">Cart</a>
            <span class="cart-notification"></span>
            <div id="underline" class="underline"></div>
          </li>
        </ul>
      </nav>
    </header>
    <main class="container text-white">
      <input hidden id="gender" value="women" />
      <section class="carousel noSelect">
        <div class="bg-text noSelect">
          <h1>FORGET</h1>
        </div>
        <span id="left" class="btn-left noSelect">
          <i class="bi bi-chevron-compact-left"></i>
        </span>
        <div class="img-container">
          <img src="../assets/img/shop/product-1.png" alt="woman" id="img" />
          <img src="../assets/img/shop/product-3.png" alt="woman" id="img-2" />
          <img src="../assets/img/shop/product-6.png" alt="woman" id="img-3" />
        </div>
        <span id="right" class="btn-right noSelect">
          <i class="bi bi-chevron-compact-right"></i>
        </span>
      </section>
      <div class="products-header">
        <h2>Women Products</h2>
        <div class="cart-count">
          <i class="bi bi-cart4"></i>
          <span id="cart-item">0</span>
        </div>
      </div>
      <section class="product">
        <div class="product-card noSelect">
          <div class="product-card-container">
            <div class="product-card-img rounded">
              <img
                src="../assets/img/shop/products/product (15).jpg"
                alt="product"
              />
            </div>
            <div class="product-card-body">
              <div class="product-card-header">
                <h1>earrings</h1>
              </div>
              <p>blue earrings</p>
              <p class="product-card-price">$ 10</p>
              <div class="product-btn">
                <button class="add-to-cart">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
        <div class="product-card noSelect">
          <div class="product-card-container">
            <div class="product-card-img rounded">
              <img
                src="../assets/img/shop/products/product (14).jpg"
                alt="product"
              />
            </div>
            <div class="product-card-body">
              <div class="product-card-header">
                <h1>Bag</h1>
              </div>
              <p>Black bag</p>
              <p class="product-card-price">$ 200</p>
              <div class="product-btn">
                <button class="add-to-cart">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
        <div class="product-card noSelect">
          <div class="product-card-container">
            <div class="product-card-img rounded">
              <img
                src="../assets/img/shop/products/product (17).jpg"
                alt="product"
              />
            </div>
            <div class="product-card-body">
              <div class="product-card-header">
                <h1>Boots</h1>
              </div>
              <p>Hight boots</p>
              <p class="product-card-price">$ 150</p>
              <div class="product-btn">
                <button class="add-to-cart">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
        <div class="product-card noSelect">
          <div class="product-card-container">
            <div class="product-card-img rounded">
              <img
                src="../assets/img/shop/products/product (8).jpg"
                alt="product"
              />
            </div>
            <div class="product-card-body">
              <div class="product-card-header">
                <h1>blouses</h1>
              </div>
              <p>Different Blouses</p>
              <p class="product-card-price">$ 20</p>
              <div class="product-btn">
                <button class="add-to-cart">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
        <div class="product-card noSelect">
          <div class="product-card-container">
            <div class="product-card-img rounded">
              <img
                src="../assets/img/shop/products/product (9).jpg"
                alt="product"
              />
            </div>
            <div class="product-card-body">
              <div class="product-card-header">
                <h1>Jacket</h1>
              </div>
              <p>Gala Jacket</p>
              <p class="product-card-price">$ 400</p>
              <div class="product-btn">
                <button class="add-to-cart">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
        <div class="product-card noSelect">
          <div class="product-card-container">
            <div class="product-card-img rounded">
              <img
                src="../assets/img/shop/products/product (11).jpg"
                alt="product"
              />
            </div>
            <div class="product-card-body">
              <div class="product-card-header">
                <h1>Dress</h1>
              </div>
              <p>Summer dress</p>
              <p class="product-card-price">$ 20</p>
              <div class="product-btn">
                <button class="add-to-cart">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
        <div class="product-card noSelect">
          <div class="product-card-container">
            <div class="product-card-img rounded">
              <img
                src="../assets/img/shop/index/product-4.png"
                alt="product"
              />
            </div>
            <div class="product-card-body">
              <div class="product-card-header">
                <h1>Nike Blazer</h1>
              </div>
              <p>White shoes</p>
              <p class="product-card-price">$ 105</p>
              <div class="product-btn">
                <button class="add-to-cart">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
        <div class="product-card noSelect">
          <div class="product-card-container">
            <div class="product-card-img rounded">
              <img
                src="../assets/img/shop/index/product-5.png"
                alt="product"
              />
            </div>
            <div class="product-card-body">
              <div class="product-card-header">
                <h1>Down Jacket</h1>
              </div>
              <p>Dior Oblique</p>
              <p class="product-card-price">$ 3100</p>
              <div class="product-btn">
                <button class="add-to-cart">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
        <div class="product-card noSelect">
          <div class="product-card-container">
            <div class="product-card-img rounded">
              <img
                src="../assets/img/shop/index/product-7.png"
                alt="product"
              />
            </div>
            <div class="product-card-body">
              <div class="product-card-header">
                <h1>Sweater</h1>
              </div>
              <p>Dior Oblique</p>
              <p class="product-card-price">$ 1700</p>
              <div class="product-btn">
                <button class="add-to-cart">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <div>
        <ul>
          <li>GiftCard</li>
          <li>Promotions</li>
          <li>Become a member</li>
          <li>Send comment</li>
        </ul>
      </div>
      <div>
        <ul>
          <li>Get help</li>
          <li>Order status</li>
          <li>Shipping and delivery</li>
          <li>Returns</li>
        </ul>
      </div>
      <div>
        <ul>
          <li>near Forget</li>
          <li>News</li>
          <li>Races</li>
          <li>Investors</li>
        </ul>
      </div>
      <div class="social-section">
        <ul>
          <li><i class="bi bi-facebook"></i></li>
          <li><i class="bi bi-whatsapp"></i></li>
          <li><i class="bi bi-pinterest"></i></li>
          <li><i class="bi bi-telegram"></i></li>
        </ul>
        <ul class="term-use">
          <li>POLICY AND PRIVACY</li>
          <li>CONDITIONS TERMS AND USE</li>
          <li>Guide</li>
        </ul>
      </div>
    </footer>  </body>
  <script
    src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
    crossorigin="anonymous"
  ></script>
  <script src="../assets/js/index.js"></script>
</html>
